EXP_NAME="test"
EXP_DIR="/n/regal/rush_lab/awang/processed_data/imNet_correct_small/"
MODEL_ACTION="load_model_from"

MODEL=ensemble
ENSEMBLE_HOLDOUT=squeezenet1_1

GENERATE=1
GENERATOR=ensemble
N_GEN_STEPS=100
TARGET=least
TARGET_FILE=/n/home09/wangalexc/transferability-advdnn-pub/data/test_labels.txt
STOCHASTIC_GENERATE=0

GEN_EPS=.1
GEN_ALPHA=0.0

GEN_INIT_OPT_CONST=1.
GEN_OPTIMIZER=adam
GEN_LR=.0001
GEN_BATCH_SIZE=10
N_BINARY_SEARCH_STEPS=3

USE_MWU=0
N_MWU_STEPS=10
MWU_PENALTY=.1

N_MODULES=7
N_KERNELS=128
INIT_SCALE=.1

TRAIN=0
TRAIN_NEW=0
OPTIMIZER=adam
N_EPOCHS=0
LR=.1
MOMENTUM=.9
WEIGHT_DECAY=.0002
NESTEROV=true
BATCH_SIZE=100

DEBUG=0
