<!DOCTYPE HTML>
<html>
    <head>
        <title>Ill Noise</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/ill_noise.css')}}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    </head>

    <body>
        <div class="container">
            <h1>Ill Noise</h1>

            <div class="row">
                <div class="col-md-12">
                    <p align='justify' style='text-align:center'>Some text possibly.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <label class="btn btn-default btn-file">
                        Upload an image <input type="file" style="display: none;" multiple="false" accept="image/*" id="upload" onchange="upload()">
                    </label>
                </div>

              <div class="col-md-3">
                    <p><button id="obfuscate" class="btn btn-default" onclick="obfuscate()">Obfuscate</button></p>
                </div>
                <div class="col-md-3"></div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <img src="" alt="" style="max-width:75%;max-height:75%" id='image'>
                </div>
            </div>

            <hr>

        </div>
    </body>
</html>
